@inherits Custom.Hybrid.RazorPro
@using ToSic.Razor.Blade;
@{
  /* This part shows album title and introduction */
  // The album information as passed in from the caller
  var album = MyModel.Item("Album");
}

@if (album.Presentation.String("HeadingType") != "hidden") {
  @Tag.Custom(album.Presentation.String("HeadingType")).Wrap(album.String("Title"))
} else if (MyUser.IsContentAdmin) {
  <h2>(@App.Resources.String("TitleNotDisplayed"))</h2>
}
@if (album.Presentation.Bool("ShowDescription") != false) {
    @album.Html("Introduction").Class("mb-4")

}