@inherits AppCode.Razor.AppRazor<Album>
@* @using ToSic.Razor.Blade *@
@using AppCode.Data
@* This part shows album title and introduction *@
@{
  var album = Model;
  var settings = album.Presentation;
  var headingType = settings.HeadingType;
}

@* Show title unless configured as "hidden" *@
@if (headingType != "hidden") {
  @Kit.HtmlTags.Custom(headingType, album.Title)
} else if (MyUser.IsContentAdmin) {
  <h2>@App.Resources.TitleNotDisplayed</h2>
}

@* Show description if desired *@
@if (settings.ShowDescription) {
  @album.Html("Introduction").Class("mb-4")
}