@inherits ToSic.Custom.Razor12
@using ToSic.Razor.Blade;
@{

  // Shows album title and introduction 
  var album = PageData["album"];

  if (album.Presentation.HeadingType != "hidden") {
    @Tag.Custom(album.Presentation.HeadingType).Wrap(album.Title)
  } else if(Edit.Enabled) {
    <h2>(@App.Resources.TitleNotDisplayed)</h2>
  }
  <div class="mb-4">@Html.Raw(album.Introduction)</div>

}
